.new-tweet {
  background-color: lightgrey;
  padding: 0em 1em 0.5em 1em;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

#compose .error {
  color: red;
  text-align: center;
  float: left;
  margin-bottom: 0.5em;
}

#compose .compose_header {
  display: block;
  margin-bottom: 0.5em;
  border-bottom: 2px solid black;
}

#compose .compose_text {
  width: 100%;
  height: 150px;
  display: block;
  min-width: 415px;
  max-width: 415px;
  min-height: 100px;
  max-height: 200px;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 0.5em;
}

#compose .submit_btn {
  font-weight: bold;
}

#compose .counter {
  position: relative;
  right: 4px;
  float:right;
  color: #244751;
}

#compose .counter-red {
  position: relative;
  right: 4px;
  float:right;
  color: red;
}

#compose .max {
  position: relative;
  right: 0px;
  float:right
}